# Logs
*.log
src/logs/

# macOS system files
.DS_Store
**/.DS_Store

# Temporary files
*.tmp
*.bak
*.swp
~$*

# LaTeX build files
*.aux
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Old Docker draft file
docker-compose.txt
